scikit_image==0.16.2
numpy==1.18.1
requests==2.23.0
scipy==1.4.1
importlib_resources==3.3.0
tqdm==4.43.0
Pillow==8.0.1
scikit_learn==0.23.2
tensorboard
https://download.pytorch.org/whl/cu102/torch-1.7.1-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cu102/torchvision-0.8.1-cp37-cp37m-linux_x86_64.whl
